/FlyingWingsCMD.class
/HatSelectorCMD.class
/InvisibilityClockCMD.class
/ParticleGunCMD.class
/PluginCmds.class
/SpeedStickCMD.class
/TeleportGunCMD.class
/ToggleWalkingParticles.class
/WardrobeCMD.class
